################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MariaLuisa/CopilotIndices/17.13.449.12402
/.vs/MariaLuisa/FileContentIndex
